__pycache__/
.pytest_cache/
.mypy_cache/
openapi.yaml
.python-version
.vscode
**/.idea/**
.idea/**
.pdbrc
.env
.hypothesis
.coverage
coverage.xml
.htmlcov
**/.venv/**

.terraform/**/*
.terraform.lock.hcl
**/.terraform/**
**/.terraform.lock.hcl

